body{
  letter-spacing: 1px;
}
.fa-brands {
  cursor: pointer;
}
.fa-brands {
  transition: 0.5s rotate;

}
.fa-brands:hover {
  color: blueviolet;
  /* border: 2px solid blueviolet; */
  border-radius: 10px;
}
.fa-phone:hover {
  color: blueviolet;
  /* border: 2px solid blueviolet; */
  border-radius: 10px;
}
.history-btn:hover {
    background-color: blueviolet;
    color: white;
    transition: 0.5s;
}
::-webkit-scrollbar{
    /* display: none; */
    overflow: hidden;
}
.video-active:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.video-del:hover{
  transform: scale(1.3);
}
.video-link:hover{
  color: rgb(78, 10, 224);
}